class AddCapistranoColumnsTo<%= name.capitalize %>< ActiveRecord::Migration
  def change
    add_column :<%= name.downcase.pluralize %>, :call_capistrano, :boolean
    add_column :<%= name.downcase.pluralize %>, :capistrano_command, :text
  end
end
