<table class="capistrano_show_table">
<thead>
	<tr>
		<th>Call Capistrano</th>
		<th>Capistrano Command</th>
		<th>Capistrano Host</th>
		<th>Capistrano User</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td><%%= @<%= name %>.call_capistrano %></td>
		<td><%%= @<%= name %>.capistrano_command %></td>
		<td><%%= @<%= name %>.capistrano_host %></td>
		<td><%%= @<%= name %>.capistrano_user %></td>
	</tr>
</tbody>
</table>
