    <div class="field">
      <%= f.label :call_capistrano %><br />
      <%= f.check_box :call_capistrano %>
    </div>
    <div class="field">
      <%= f.label :capistrano_command %><br />
      <%= f.text_area :capistrano_command %>
    </div>
    <div class="field">
      <%= f.label :capistrano_host %><br />
      <%= f.text_field :capistrano_host %>
    </div>
    <div class="field">
      <%= f.label :capistrano_user %><br />
      <%= f.text_field :capistrano_user %>
    </div>
